@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" value="${item.id}" underline="true"/>
                            <#input id="sort" name="" value="${item.sort}" underline="true"/>
                            <#input id="recipeName" name="菜名" value="${item.recipeName}" underline="true"/>
                            <#input id="cookingTime" name="所需时间" value="${item.cookingTime}" underline="true"/>
                            <#input id="cuisine" name="菜系" value="${item.cuisine}" />
                </div>

                <div class="col-sm-6">
                            <#input id="ingredients" name="食材，数量" value="${item.ingredients}" underline="true"/>
                            <#input id="steps" name="制作该菜谱的详细步骤" value="${item.steps}" underline="true"/>
                            <#input id="createTime" name="" value="${item.createTime}" underline="true"/>
                            <#input id="updateTime" name="" value="${item.updateTime}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="RecipesInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="RecipesInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/recipes/recipes_info.js"></script>
@}
